# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Node ###
package-lock.json

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Dependency directories
node_modules/
jspm_packages/
vendor/
bower_components/

# Coverage directory used by tools like istanbul
coverage

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Yarn Integrity file
.yarn-integrity

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace
