.hero {
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 1s;
    font-size: 20px;
    color: theme('colors.primary');
    min-height: 200px;

    @screen 3xl {
        color: theme('colors.secondary.900');
    }
}

::placeholder {
    color: gray;
}

@mixin icon($network, $color: blue) {
    .icon.is-#{$network} {
        color: $color;
    }

    .icon.is-#{$network}:hover {
        color: white;
        background: $color;
    }
}

@include icon(twitter);
